* {
    box-sizing: border-box;
    margin: auto;
    font-family:monospace;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

/*top bar*/
h1 {
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: rgb(168, 198, 206);
    border-bottom: 2px solid rgb(132, 155, 161);
    font-size: 3rem;
    z-index: 1;
}

/*Folders*/
#expand {
    position: absolute;
    top: 50px;
    left: 5px;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    z-index: 10;
}

#side-bar {
    height: calc(100vh - 45px);
    background-color: rgb(247, 247, 247);
    border-right: 2px solid rgb(238, 238, 238);
    z-index: 9;
}

.add{
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 50px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 2000px;
    cursor: pointer;
}


/*forms*/
form {
    position: absolute;
    display: block;
    text-align: center;
    margin: auto;
    inset: 0;
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: grey;
    border-radius: 5px;
    z-index: 20;
}

label {
    font-size: 1.5rem;
}

input {
    width: 250px;
    height: 30px;
    margin: 5px;
}

#blur {
    position: absolute;
    inset: 0;
    z-index: 15;
    background-color: grey;
    opacity: 0.5;
    backdrop-filter: blur(0.1rem);
}

/*Folders styling*/
.folders-list {
    width: 98%;
}

h3 {
    display: inline-flex;
    width: calc(100% - var(--del-width))
}

:root {
    --del-width: 40px;
}

.del-folder {
    display: inline-flex;
    width: var(--del-width);
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}


/*Scalability*/
@media screen and (min-width: 500px){
    #side-bar {
        position: absolute;
        top: 45px;
        left: 0;
        width: 200px;
    }

    #expand {
        display: none;
    }

    h2 {
        display: flex;
        margin: 5px;
    }
    
    #content {
        position: absolute;
        top: 45px;
        left: 200px;
        background-color: red;
        width: calc(100% - 200px);
        height: calc(100vh - 45px);
    }    
}

@media screen and (max-width: 500px){
    #side-bar {
        display: none;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
    }

    h2 {
        position: absolute;
        top: 5px;
        left: 30px;
        z-index: 10;
    }

    #content {
        position: absolute;
        top: 45px;
        left: 0px;
        background-color: red;
        width: 100%;
        height: calc(100vh - 45px);
    }    
}

/*scroll bars*/
.scroll {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.scroll::-webkit-scrollbar {
    display: none;
}